/* 1. Define the custom font at the top of your CSS file */
@font-face {
    font-family: 'StyleScript';
    src: url('./assets/StyleScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Keeps text visible while the font loads */
}
body 
{
    background-color: #ffffff;
    margin: 0;
    min-height: 100vh;

    background-image: url('../images/Texturelabs_Paper_361L.jpg');
    background-size: cover;      /* Fill entire screen */
    background-position: center; /* Center image */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: stays fixed when scrolling */
}

#title 
{
    font-size: 80px;
    margin-top: 50px;
    width: 100%;
    /*margin: 2% 5%;*/
    text-align: center;
    font-family: 'StyleScript', sans-serif;
    color: #000000;
}

#loginDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 15px;
    background-color: #b2b2b28b;
    border-radius: 10px;

}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 30px;
    border-radius: 25px;
    width: 15%;
    margin-left: 450px;
    font-family: 'Ubuntu', sans-serif;
}

.buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
}

#loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}